hr {
  margin: 0.85em 0.25em;
}

.portfolio-description {
  padding: 0 10px;
  margin-bottom: 2em;
}

.portfolio-header {
  font-size: 1.25em;
  font-weight: 400;
  padding: 0 10px;
  text-align: center;
}

@media only screen and (min-width : 992px) {
  .portfolio-header {
    text-align: left;
  }
}

